* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Pretendard-Regular";
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

img {
  vertical-align: middle;
}
header {
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #808080;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > .gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
  width: 100%;
}

header > .gnb > .navigation > a {
  border-radius: 8px;
  margin-left: 10px;
  font-weight: bold;
  padding: 5px;
}

header > .gnb > .navigation > #login {
  background-color: #fbd1b2;
}

header > .gnb > .navigation > #signup {
  color: #fff;
  background-color: #f26a08;
}

/* main */

/* <--------------- aside -----------------------------> */
.left_nav {
  height: 100%;
  width: 15vw;
  box-sizing: border-box;
  /* border-right: 1px solid #808080; */
}

.left_nav ul {
  padding-top: 20px;
  padding-left: 15px;
}

.left_nav ul li {
  line-height: 40px;
  font-weight: 700;
  display: block;
  transform: 0.3s;
}

.now {
  color: #f26a08;
}

.left_nav ul li:hover {
  color: #f26a08;
}

.left_nav button {
  margin-top: 15px;
  background-color: #f26a08;
  color: white;
  display: block;
  margin: 20px auto;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
}

main {
  display: flex;
}
article {
  padding-top: 30px;
  width: 85vw;
  border: 1px solid black;
  border-right: none;
  border-top: none;
  border-bottom: none;
}
article > div {
  padding: 0px 10px 10px 30px;
}
h4 {
  font-size: 28px;
  margin-top: 0px;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 25vw;
  background-color: #808080;
  border-radius: 20px;
  margin-top: 40px;
}
.main_lorem {
  width: 50vw;
}
